h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
copyright {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(172, 172, 190); 
    font-size:11pt; 
    text-align: center;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(11, 111, 81);
    /*display:block; */
    text-align: center;
    margin: auto;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    padding: 6px;
}

h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    padding: 6px;
}

a:hover {
    color:rgb(63, 154, 128);
}

a:visited {
    color:rgb(13, 51, 64);
}

.container {
    position: relative;
    min-height: 100vh;
    /*border: 2px solid #006100;*/
  }
  
.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-element-copyright {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-element-projects {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}
.project-box {
    display: inline-block;
    display: flex;
    flex-direction: row;  /* change the flex direction to row */
    align-items: center;
    width: 50%;
    /* height: 170px; */
    margin: 15px auto;
    border: 2px solid rgb(142, 151, 154);
    border-radius: 1px;
    transition: border 0.5s;
    
  }
  
.project-image {
    float: left;
    border: 1px solid rgb(97, 130, 120);
    width: 120px;
    height: 120px;

    margin-right: 20px;  /* add some space between the image and the text */
    margin-left: 40px;
    border-radius: 4px;
}

.project-box:hover {
    border: 3px solid rgb(11, 111, 81);
}

.project-description {
    text-align: left;

}

.heading {
    padding:4%
}

.outsidetxt {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}